.modalContainer{height:350px;width:400px;position:fixed;left:0;top:0;background-color:white;overflow:hidden;pointer-events:none;display:flex;align-items:center;justify-content:center;z-index:100}
.modalSlider{height:100%;width:100%;position:absolute;transition:transform .5s cubic-bezier(.76,0,.24,1);will-change:transform}
.modal{height:100%;width:100%;display:flex;align-items:center;justify-content:center}
.modal img{height:auto;border-radius:8px}
.cursor,.cursorLabel{width:80px;height:80px;border-radius:50%;background-color:#455CE9;color:#fff;position:fixed;left:0;top:0;z-index:101;display:flex;align-items:center;justify-content:center;font-size:14px;font-weight:300;pointer-events:none}
.cursorLabel{background-color:transparent}
