.project{display:flex;width:100%;justify-content:space-between;align-items:center;padding:28px 0;border-top:1px solid rgb(201,201,201);cursor:pointer;transition:all .2s}
.project:last-of-type{border-bottom:1px solid rgb(201,201,201)}
.project:hover{opacity:.5}
.project:hover h2{transform:translateX(-10px)}
.project:hover p{transform:translateX(10px)}
.project h2{font-size:48px;margin:0;font-weight:400;transition:all .4s}
.project p{transition:all .4s;font-weight:300;font-size:14px}
